.u-section-1 .u-sheet-1 {
  min-height: 812px;
}

.u-section-1 .u-shape-1 {
  width: 432px;
  height: 557px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 38px 0 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 780px;
  height: 673px;
  background-image: linear-gradient(#f1b5b8, #f9e79b);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -595px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 547px;
  height: 720px;
  object-position: 21.06% 50%;
  --animation-custom_in-scale: 1;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: -581px 48px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 545px;
  min-height: 574px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -720px auto 60px 45px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 1px;
  font-size: 3.4375rem;
  font-weight: 700;
  font-family: Alata;
  margin: 0 35px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5625rem;
  line-height: 1;
  margin: 28px 10px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 38px auto 0 0;
  padding: 10px 43px 10px 41px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    height: 536px;
    margin-top: 59px;
  }

  .u-section-1 .u-shape-2 {
    width: 732px;
  }

  .u-section-1 .u-image-1 {
    width: 449px;
    height: 713px;
    margin-top: -574px;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 494px;
    min-height: 556px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 973px;
  }

  .u-section-1 .u-shape-1 {
    height: 549px;
    margin-top: 207px;
  }

  .u-section-1 .u-shape-2 {
    height: 869px;
    width: 512px;
    margin-top: -756px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -609px;
  }

  .u-section-1 .u-group-1 {
    width: 433px;
    min-height: 423px;
    margin-top: -932px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 243px;
    height: 603px;
  }

  .u-section-1 .u-shape-2 {
    width: 502px;
    height: 585px;
    margin-top: -810px;
  }

  .u-section-1 .u-image-1 {
    width: 385px;
    height: 683px;
    margin-top: -295px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1131px;
  }

  .u-section-1 .u-shape-1 {
    width: 170px;
    height: 698px;
    margin-top: 196px;
  }

  .u-section-1 .u-shape-2 {
    width: 312px;
    margin-top: -905px;
  }

  .u-section-1 .u-image-1 {
    height: 596px;
    margin-top: -39px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    width: 270px;
    min-height: 513px;
    margin-top: -1101px;
    margin-left: 21px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
} .u-section-2 {
  background-image: linear-gradient(#e68387, #f9dda1);
}

.u-section-2 .u-sheet-1 {
  min-height: 435px;
}

.u-section-2 .u-group-1 {
  width: 351px;
  min-height: 435px;
  height: auto;
  margin: 0 auto 0 -1px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 10px auto 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-list-1 {
  width: 752px;
  grid-template-rows: auto auto auto;
  margin: -336px 0 47px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 262px;
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-2 .u-text-3 {
  text-transform: none;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.1875rem;
  margin: 16px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-2 .u-text-5 {
  text-transform: none;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.1875rem;
  margin: 16px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-2 .u-text-7 {
  text-transform: none;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.1875rem;
  margin: 16px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-2 .u-group-1 {
    width: 300px;
    min-height: 481px;
    height: auto;
  }

  .u-section-2 .u-list-1 {
    width: 640px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 294px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-2 .u-group-1 {
    min-height: 328px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 241px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 855px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 55px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 20px;
    margin-bottom: -64px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 397px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 979px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 55px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-3 {
  min-height: 50vw;
}

.u-section-3 .u-shape-1 {
  background-image: none;
  height: 499px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: -425px auto 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 812px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 240px;
  height: 240px;
  background-image: url("images/fggf.jpg");
  background-position: 88.88% 100%;
  margin: 39px auto 0;
}

.u-section-3 .u-text-1 {
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 1.875rem;
  margin: 35px 17px 0 auto;
}

.u-section-3 .u-text-2 {
  text-align: left;
  margin: 29px 46px 0 35px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 812px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 2.5rem;
  margin: 112px auto 0 0;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-image-2 {
  width: 240px;
  height: 240px;
  background-image: url("images/fgfgfg4.jpg");
  background-position: 50% 50%;
  margin: 30px auto 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 812px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 23px;
}

.u-section-3 .u-image-3 {
  width: 240px;
  height: 240px;
  background-image: url("images/hjhjh.jpg");
  background-position: 50% 50%;
  margin: 45px auto 0 27px;
}

.u-section-3 .u-text-5 {
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 2.5rem;
  margin: 60px auto 0 36px;
}

.u-section-3 .u-text-6 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 30px 0 0 13px;
}

.u-section-3 .u-icon-1 {
  color: rgb(215, 90, 74) !important;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 887px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 670px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 12px;
    margin-left: 1px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 670px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 670px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 929px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-1 {
    width: 180px;
    height: 180px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-2 {
    width: 180px;
    height: 180px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-3 {
    width: 193px;
    height: 193px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1807px;
  }

  .u-section-3 .u-shape-1 {
    height: 1064px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -990px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 588px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    width: 250px;
    height: 250px;
    margin-right: 270px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 542px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 543px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    width: 250px;
    height: 250px;
    margin-right: 270px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    margin-right: 70px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-3 {
    margin-right: 70px;
  }
} .u-section-4 {
  min-height: 702px;
  background-image: url("images/bg.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 702px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 118px 0 0;
}

.u-section-4 .u-text-2 {
  line-height: 1.8;
  font-size: 1.25rem;
  margin: 83px 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 702px;
  background-image: url("images/ggfgg.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 456px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 579px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-4 .u-image-1 {
    min-height: 579px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 320px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-1 {
    min-height: 443px;
    background-position: 26.97% 50%;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 547px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 50px;
    padding-left: 10px;
  }

  .u-section-4 .u-image-1 {
    min-height: 570px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 336px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 50px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-image-1 {
    min-height: 359px;
  }
} .u-section-5 {
  min-height: 1394px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 60px calc(((100% - 1140px) / 2) + 261px) 0 calc(((100% - 1140px) / 2) + 23px);
}

.u-section-5 .u-shape-1 {
  background-image: linear-gradient(#f1b5b8, #f9e79b);
  height: 494px;
  margin-top: 420px;
  margin-bottom: 0;
}

.u-section-5 .u-image-1 {
  width: 721px;
  height: 721px;
  object-position: 2.6% 50%;
  background-position: 50% 50%;
  background-image: url("images/59df1f0bee8e6.jpeg");
  margin: -815px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-5 .u-list-1 {
  width: 728px;
  margin: -305px calc(((100% - 1140px) / 2)) 60px auto;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 10px));
  min-height: 505px;
  grid-gap: 20px;
}

.u-section-5 .u-container-layout-1 {
  padding: 40px 20px 30px;
}

.u-section-5 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-5 .u-text-3 {
  line-height: 2;
  font-style: italic;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 40px 20px 30px;
}

.u-section-5 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-5 .u-text-5 {
  line-height: 2;
  font-style: italic;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 40px 20px 30px;
}

.u-section-5 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-5 .u-text-7 {
  line-height: 2;
  font-style: italic;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 40px 20px 30px;
}

.u-section-5 .u-text-8 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-5 .u-text-9 {
  line-height: 2;
  font-style: italic;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 84px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-shape-1 {
    height: 557px;
  }

  .u-section-5 .u-image-1 {
    width: 659px;
    height: 659px;
    margin-top: -878px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-list-1 {
    width: 599px;
    margin-top: -152px;
    margin-right: calc(((100% - 940px) / 2));
    margin-bottom: 59px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 533px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 1550px;
  }

  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-shape-1 {
    height: 611px;
  }

  .u-section-5 .u-image-1 {
    margin-top: -932px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-list-1 {
    width: 543px;
    margin-right: calc(((100% - 720px) / 2));
    margin-bottom: 60px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 578px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1849px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.75rem;
    margin-top: 102px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-shape-1 {
    height: 781px;
    margin-top: 336px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-top: -1058px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-list-1 {
    width: 454px;
    margin-top: -96px;
    margin-right: auto;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 910px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 1694px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 60px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-shape-1 {
    height: 1107px;
    margin-top: 191px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: -1240px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-list-1 {
    width: 340px;
    margin-top: -36px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 1038px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 815px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 63px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  background-image: linear-gradient(#478ac9, #f1b5b8);
  min-height: 592px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.875rem;
  margin: 0 auto 0 1px;
}

.u-section-6 .u-text-2 {
  line-height: 1.8;
  margin: 20px 1px 0;
}

.u-section-6 .u-image-1 {
  min-height: 592px;
  background-image: url("images/af217e60-ff3e-4985-be70-8427a434fb18.jpg");
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-6 .u-layout-wrap-1 {
    min-height: 596px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 488px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-scale: 1;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    min-height: 488px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-6 .u-layout-wrap-1 {
    min-height: 22px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    min-height: 374px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-6 .u-layout-wrap-1 {
    min-height: 408px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    min-height: 561px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 347px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-image-1 {
    min-height: 353px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 798px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-7 .u-image-1 {
  background-image: url("images/af217e60-ff3e-4985-be70-8427a434fb18.jpg");
  min-height: 587px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-7 .u-layout-cell-2 {
  background-image: linear-gradient(#2cccc4, #f1b5b8);
  min-height: 587px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  margin: 20px auto 0 20px;
}

.u-section-7 .u-text-2 {
  line-height: 1.8;
  margin: 20px auto 0 20px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-7 .u-image-1 {
    min-height: 484px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 484px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-7 .u-image-1 {
    min-height: 741px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 868px;
  }

  .u-section-7 .u-image-1 {
    min-height: 556px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-7 .u-image-1 {
    min-height: 350px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 500px;
}

.u-section-8 .u-slider-1 {
  min-height: 480px;
  margin-bottom: 20px;
  height: auto;
  margin-top: 0;
}

.u-section-8 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 50px;
}

.u-section-8 .u-image-1 {
  width: 430px;
  height: 430px;
  background-image: url("images/af217e60-ff3e-4985-be70-8427a434fb18.jpg");
  background-position: 50% 50%;
  margin: 20px auto 0 40px;
}

.u-section-8 .u-text-1 {
  margin: -355px 135px 0 auto;
}

.u-section-8 .u-text-2 {
  font-size: 4.5rem;
  margin: 80px 93px 0 auto;
}

.u-section-8 .u-container-layout-2 {
  padding: 10px 50px;
}

.u-section-8 .u-image-2 {
  width: 440px;
  height: 440px;
  background-image: url("images/af217e60-ff3e-4985-be70-8427a434fb18.jpg");
  background-position: 50% 50%;
  margin: 10px auto 0 62px;
}

.u-section-8 .u-text-3 {
  font-weight: 400;
  margin: -382px 135px 0 auto;
}

.u-section-8 .u-text-4 {
  font-size: 4.5rem;
  font-weight: normal;
  margin: 70px 83px 0 auto;
}

.u-section-8 .u-carousel-item-3 {
  margin-left: 0;
  margin-right: auto;
  margin-top: 20px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-8 .u-image-3 {
  width: 315px;
  height: 315px;
  background-image: url("images/af217e60-ff3e-4985-be70-8427a434fb18.jpg");
  background-position: 50% 50%;
  margin: 10px auto 0 157px;
}

.u-section-8 .u-image-4 {
  width: 315px;
  height: 315px;
  background-image: url("images/af217e60-ff3e-4985-be70-8427a434fb18.jpg");
  background-position: 50% 50%;
  margin: -315px 138px 0 auto;
}

.u-section-8 .u-text-5 {
  font-size: 5.625rem;
  margin: 26px 115px 0 auto;
}

.u-section-8 .u-text-6 {
  margin: -52px auto 0 87px;
}

.u-section-8 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-8 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-slider-1 {
    min-height: 473px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 347px;
  }

  .u-section-8 .u-slider-1 {
    min-height: 320px;
  }

  .u-section-8 .u-image-1 {
    width: 320px;
    height: 320px;
    margin-left: 0;
  }

  .u-section-8 .u-text-1 {
    margin-top: -245px;
    margin-right: 83px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-image-2 {
    width: 320px;
    height: 320px;
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    margin-top: -262px;
    margin-right: 83px;
  }

  .u-section-8 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-image-3 {
    margin-left: 5px;
  }

  .u-section-8 .u-image-4 {
    margin-right: 5px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 71px;
    font-size: 1.875rem;
  }

  .u-section-8 .u-text-6 {
    margin-top: -47px;
  }
} .u-section-9 {
  background-image: linear-gradient(#2cccc4, #f1b5b8);
  min-height: 938px;
}

.u-section-9 .u-layout-wrap-1 {
  width: 719px;
  margin: 60px auto;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 567px;
  background-image: none;
}

.u-section-9 .u-container-layout-1 {
  padding: 0 30px 50px;
}

.u-section-9 .u-image-1 {
  width: 329px;
  height: 329px;
  background-image: url("images/sdsd.jpg");
  background-position: 50% 50%;
  margin: -40px auto 0;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 17px auto 0;
}

.u-section-9 .u-form-1 {
  height: 48px;
  width: 497px;
  margin: 34px auto 0;
}

.u-section-9 .u-btn-1 {
  background-image: linear-gradient(#2cccc4, #f1b5b8);
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
}

.u-section-9 .u-text-2 {
  width: 191px;
  margin: 34px auto 0;
}

.u-section-9 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  padding: 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 159px;
  background-image: none;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-text-3 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-9 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 158px;
  min-width: 94px;
  margin: 17px auto 0;
}

.u-section-9 .u-icon-1 {
  height: 100%;
}

.u-section-9 .u-icon-2 {
  height: 100%;
}

.u-section-9 .u-icon-3 {
  height: 100%;
}

.u-section-9 .u-icon-4 {
  height: 100%;
}

@media (max-width: 991px) {
   .u-section-9 {
    min-height: 472px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 90px;
    margin-bottom: 90px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 657px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 18px;
    margin-left: 42px;
    margin-right: 42px;
  }

  .u-section-9 .u-form-1 {
    height: 109px;
    width: 463px;
    margin-top: 17px;
  }

  .u-section-9 .u-text-2 {
    margin-top: 42px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 547px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-image-1 {
    width: 257px;
    height: 257px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 32px;
    margin-left: 44px;
    margin-right: 44px;
  }

  .u-section-9 .u-form-1 {
    width: 303px;
  }

  .u-section-9 .u-text-2 {
    width: 223px;
    margin-top: 20px;
  }
}